# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next
out

# Production
build
dist

# Misc
.DS_Store
*.pem
.env
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
data/*.db
data/*.db-journal
.vercel
